/* reset css */

* {
  min-width: 0;
  font: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
video,
svg {
  display: block;
  height: auto;
  max-width: 100%;
}

body {
  margin: 0;
  min-height: 100dvh;
}

h1 {
  color: #21eb96; /* Color rosa cálido */
  font-family: 'Dancing Script', cursive;
  text-shadow: -1px -1px 0 #000,  
                  1px -1px 0 #000,
                 -1px  1px 0 #000,
                  1px  1px 0 #000; /* Borde negro */
}
h2{
  color: #000000; /* Color rosa cálido */
  font-family: 'Dancing Script', cursive;
  text-shadow: -1px -1px 0 #000,  
                  1px -1px 0 #000,
                 -1px  1px 0 #000,
                  1px  1px 0 #000; /* Borde negro */
}
h3 {
  text-wrap: balance;
}

p {
  color: #02b2f8;
  font: inherit;
  text-wrap: pretty;
  text-shadow: -1px -1px 0 #000,  
                  1px -1px 0 #000,
                 -1px  1px 0 #000,
                  1px  1px 0 #000; /* Borde negro */
}

/* starts here */

body {
  background-color: rgb(226, 247, 135);
  height: 100vh;

  & main {

    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & h1 {
      font-size: 2.5rem;
      text-align: center;
      font-weight: 700;
    }

    & .options {
      font-size: 1.5rem;
      font-weight: 600;


      & button {
        padding: .5rem 1.5rem;
        border: 2px solid rgba(0, 0, 0, .9);
        border-radius: 5px;
        cursor: pointer;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
      }

      & button:hover {
        box-shadow: 2px 2px 2px rgba(0, 0, 0, .4);
      }

      & button#yes {
        background-color: #97cfaa;
        margin-right: 2rem;
      }

      & button#no {
        background-color: #f36c46;
      }
    }
  }
}
#message {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(245, 237, 152);
  display: none;
  flex-direction: column; /* Alinea los elementos en columna */
  justify-content: flex-end; /* Alinea los elementos al final del contenedor */
  align-items: center;
  & h2 {
    font-size: 1.5rem;
    text-align: center;
    font-weight: 600;
    animation: palpitation 4s ease-in-out infinite;
    line-height: 3rem;
  }
}

/*
#message {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: palegoldenrod;
  /* display: flex; 
  display: none;
  justify-content: center;
  align-items: center;

  & h1 {
    font-size: 3rem;
    text-align: center;
    font-weight: 600;
    animation: palpitation 2s ease-in-out infinite;
    line-height: 4rem;
  }
}*/

@keyframes palpitation {
  0% {
    transform: scale(0.8);
  }

  50% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(0.8);
  }
}